<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Tool Hub</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
       
    </style>
</head>

<body>
    {% include 'navbar.html' %}
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-6 mt-5">
                    <img src="{% static 'images/image.png' %}" width="450px" height="350px" class="tools" alt="tools">

                </div>
                <div class="col-6 mt-5">
                <h2>ABOUT US</h2>
                        <p>We, Tool Hub at Oachira in Kollam, Kerala,have been in the market for a while now. 
                        We deal in optimum quality electric motor,
                        air compressors, power tools, machine tools,
                        and welding equipment. Our experienced team 
                        is well-versed with the latest trends in the
                        market. This enables us to provide the best 
                        quality products to our clients. Our superior
                        quality products and courteous team have     
                        helped us in garnering an ever-increasing   
                        client base. Our team is very cooperative   
                        while dealing with our clients. We also     
                        ensure that all the products are delivered  
                            within the stipulated time. </p>
            
                </div>
            </div>

        </div>

            
{% include 'footer.html' %}
