<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool hub</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<section id="header">
    <a href="{% url 'index' %}"><img  src="{% static 'images/logo.png' %}" class="logo" alt="Tool Hub Logo"></a>
    <div>
        <ul id="navbar">
            <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
            <div class="dropdown">
                <li  class="dropdown-toggle text-white" data-bs-toggle="dropdown">
                    Categories </li>
                 <ul class="dropdown-menu bg-dark">
                     <li class="dropdown-item"><a href="{% url 'aircompressor' %}">Air Compressors</a></li>
                     <li class="dropdown-item"><a href="{% url 'powertools' %}">Power Tools and Accessories</a></li>
                     <li class="dropdown-item"><a href="{% url 'machinetools' %}">Machine Tools</a></li>
                     <!-- Add more category items as needed -->
                 </ul>
            </div>
            
         
            <li class="nav-item"><a href="{% url 'about' %}">About</a></li>
            <li class="nav-item"><a href="{% url 'contact' %}">Contact</a></li>
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url '' %}">Login</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'cart' %}"><i class='bx bxs-cart-add'></i></box-icon>  </a></li>
            {% endif %}

        </ul>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>